h1, h2, h3, h4, h5, h6 {
    color: aliceblue;
    text-shadow: 2px 2px black;
}


body {
  background: image-url('static_image.jpg');
  font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", sans-serif;
}
